h3
	= link_to calendar_events_path(for_date: "#{@events_date - 1.day}") do
		span.glyphicon.glyphicon-chevron-left
	| Event for #{@events_date.strftime("%B, %d")}
	= link_to calendar_events_path(for_date: "#{@events_date + 1.day}") do
		span.glyphicon.glyphicon-chevron-right

- unless @calendar_events.empty?
	= render @calendar_events
- else
	em No events for this day
